/* src/App.css */
/* .App {
    text-align: center;
    margin: 20px;
  } */



  /*
    
*/

/*--====== Global Variables ======--*/
/* :root {
    --bg-color: rgb(36, 34, 34);
    --main-color: #63d54c;
    --box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  }
  
  body {
    background: rgb(2, 0, 36);
    background: radial-gradient(
      circle,
      rgba(2, 0, 36, 1) 34%,
      rgba(65, 48, 66, 1) 91%
    );
  }
  
  /*--====== CSS Reset ======--*/
  /* *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
  }
  
  ul {
    list-style: none;
  }
  
  .overflow_hide {
    overflow: hidden;
  } */ */
  
  /*--====== Gallery Section ======--*/
  /* #gallery {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  .container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  } */
  
  /* Filterable Gallery */
  /* .gallery_tabs {
    background-color: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 0.8rem;
    padding: 1.2rem;
    /*border-radius: 0px 50px 0px 50px;
      box-shadow: var(--box-shadow);*/
  /* }
  
  .gallery_tabs li {
    padding: 0.7rem 2rem;
    border-radius: 0px 50px 0px 50px;
    font-size: 0.95rem;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    color: #fff;
    background-color: rgb(255, 95, 47);
    background-image: linear-gradient(315deg, #e1e3e4 0%, #b621fe 74%);
    box-shadow: 5px 2px 5px rgb(102, 102, 101);
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .gallery_tabs li.active,
  .gallery_tabs li:hover {
    background-color: rgb(255, 95, 47);
    background-image: linear-gradient(315deg, #e1e3e4 0%, salmon 74%);
    color: #fff;
  }
  
  .gallery_tabs li.active {
    background-color: var(--main-color);
  }
  
  .gallery_tabs li.active:hover {
    background-color: rgb(255, 95, 47);
    background-image: linear-gradient(315deg, #e1e3e4 0%, #b621fe 74%);
  }
  
  .gallery_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 4rem;
  }
  
  @media (max-width: 768px) {
    .gallery_wrapper {
      grid-template-columns: repeat(3, 1fr);
      gap: 0.5rem;
    }
  }
  
  .gallery_item {
    border-radius: 0px 50px 0px 50px;
    box-shadow: 5px 5px 5px rgb(102, 102, 101);
    cursor: pointer;
    overflow: hidden; */
  /* }  */
  
  /* when the gallery_item has 'show' class */

  import './Assets/Css/Style.css';
// import login from "./Pages/login"
// import {Routes, Routers} from "react-router-dom"
function App() {
    return (
        <>
<div>

<body>
  <div class="container">
    <nav class="nav">
      <ul>
        <li><a href="#" class="logo">
          <img src="./pic/logo.jpg"/>
          <span class="nav-item">Admin</span>
        </a></li>
        <li><a href="#">
          <i class="fas fa-menorah"></i>
          <span class="nav-item">Dashboard</span>
        </a></li>
        <li><a href="#">
          <i class="fas fa-comment"></i>
          <span class="nav-item">Message</span>
        </a></li>
        <li><a href="#">
          <i class="fas fa-database"></i>
          <span class="nav-item">Report</span>
        </a></li>
        <li><a href="#">
          <i class="fas fa-chart-bar"></i>
          <span class="nav-item">Attendance</span>
        </a></li>
        <li><a href="#">
          <i class="fas fa-cog"></i>
          <span class="nav-item">Setting</span>
        </a></li>
        <li><a href="#" class="logout">
          <i class="fas fa-sign-out-alt"></i>
          <span class="nav-item">Log out</span>
        </a></li>
      </ul>
    </nav>
    
    <ul class="navbar">
    <li><a href="#home">Home</a></li>
    <li><a href="#about">Login</a></li>
    <li><a href="#about">Register</a></li>
    <li><a href="#services">Services</a></li>
    <li><a href="#contact">Contact</a></li>
    </ul>

  </div>
</body>

</div>
         
   
   </>  
    
    );
}
export default App;